<app-header></app-header>

<router-outlet></router-outlet>

<!-- <input (input)="doSearch($event.target.value)"> -->

<!-- <style>
    .container1{
        border: 5px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        
    }
    .box{
        width: 300px;
        height: 300px;
    }

    .box1{
        background-color: red;
        flex-grow: 2;
    }

    .box2{
        background-color: green;
        flex-grow: 1;
    }

    .box3{
        background-color: blue;
        flex-grow: 1;
    }
</style>

<div class="container1">
    <div class="box box1"></div>
    <div class="box box2"></div>
    <div class="box box3"></div>
</div>
 -->

